* {
  margin: 0; 
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  background-color:#1D6F42;
  padding: 2rem;
  font-family: sans-serif;
}

input[type='file'] {
  color: #FFF;
  font-size: 1rem;
  font-weight: 500;
  width: 100%;  
}

input[type=file]::file-selector-button {
  padding: .5rem 1rem;
  margin-right: .5rem;
  border-radius: .25rem;
  border: none;
  color: #1D6F42;
  outline: none;
}

table {
  margin-top: 2rem;
  border-radius: .25rem;
  width: 100%;
  background-color: #FFF;
  border-collapse: collapse;
}

th {
  padding: .75rem 1rem;
  text-align: start;
  font-size: 1.25rem;
  font-weight: bold;
  color: #1D6F42; 
}

td {
  padding: .75em 1rem;
  text-align: start;
  font-size: 1rem; 
}